<form>
  <div class="form-group">
    {{textarea value=content id="content" placeholder = "If you're logged in, feel free to start a discussion here!"}}
  </div>
  <button class = "btn btn-success margin"{{action 'saveComment'}}>Post Comment</button>
</form>
