<form>
  <div class="form-group">
    {{input value=content id="content" placeholder = "comment"}}
  </div>
  <button class = "btn btn-success"{{action 'saveComment'}}>Post Comment</button>
  {{userImage}}
</form>
