

<form class="hp-form">
  <div class="form-group">
    <div class="hp-v5-form home" id="home-sign-up">
    {{input value=product id="product" class="form-control" placeholder="Search nirvana awaits..." type="text"}}
  </div>
</div>

  <button class="btn btn-primary home-search-btn" {{action 'productLookup'}}>Submit</button>
</form>
