<h1>Product Lookup</h1>

<form>
  <div class="form-group">
    <label for="product">Product</label>
    {{input value=product id="product"}}
  </div>

  <button class="btn btn-primary" {{action 'productLookup'}}>Submit</button>
</form>
