<form>
  {{textarea class="textArea" value=notes id="notes" placeholder = "Any specific question you had about this product or category?"}}
  <br>
{{#x-select class="selectpicker" value=category}}
  {{#x-option value="Outdoor"}}Outdoor{{/x-option}}
  {{#x-option value="Health"}}Health{{/x-option}}
  {{#x-option value="Apparel"}}Apparel{{/x-option}}
  {{#x-option value="Household"}}Household{{/x-option}}
  {{#x-option value="Fitness"}}Fitness{{/x-option}}
  {{#x-option value="Office"}}Office{{/x-option}}
  {{#x-option value="Electronics"}}Electronics{{/x-option}}
{{/x-select}}
<button class="btn btn-primary" {{action 'updateDiscuss' discuss}}>update</button>
</form>
