.fa-shopping-cart {
  font-size: 3em;
  position: relative;
  top:2px;
  color:#000;
}

.shopping-cart-length {
  font-size:16px;
  color: #fff;
  position:absolute;
  top:7px;
  left:17px;
}
.cart-wrap {
  margin-right:10px;
}

.banner {
  height:45px;
  top:50%;
  position:relative;
  transform: translateY(-50%);
}

.search-input-wrap {
  margin-top: 6.25px;
}

.navbar-wrap {
  height:60px;
}

.navbar-nav {
  height:60px;
  margin-top:2.5px;
}

.navbar-default .navbar-nav > li > a {
  color: #788a91;
  font-family:"ProximaNova-Bold",Helvetica,Arial,sans-serif;
  font-weight:700;
  font-size:12px;
  letter-spacing: 1px;
}


.navbar-default {
  padding-left:25px;
  padding-right:25px;
  border-radius:0;
}

.navbar {
  background: #fff;
  height:60px;
  color:#788a91;
}

.sidebar-left {
  border:1px solid #d9d9d9;
  width:200px !important;
  height:1000px;
  min-width:200px;
  padding:15px;
  box-shadow: rgba(0,0,0, 0.0980392) 0px 3px 12px 1px;
}

.api-search-nav {
  background: #f6f8f7 url(//d36cmr08aasnby.cloudfront.net/assets/magnifying-glass-7801789c047a6aeb44fe2d1f4eef8865.png) 5% 50% no-repeat;
  border-radius:15px;
  padding-left: 50px;
  padding-right:40px;
}

.container-fluid {
  padding: 0;
}
.main {
  padding-left:25px;
  padding-right:25px;
  display: flex;
  flex-direction:row;
  flex-wrap:nowrap;
}

.sidebar-right {
  width:320px;
  height:500px;
  border: 1px solid #000;
}

.product-container {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  margin-left:25px;
}

.img-wrap {
  text-align:center;
  margin-bottom:10px;
}

.product-store {
  margin-bottom:5px;
  font-size:11px;
  color:#999;
  padding-left:15px;
  padding-right:15px;
}

.product-box {
  padding-top:10px;
  width:170px;
  margin-right:25px;
  height:300px;
  border: 1px solid #d1d1d1;
  box-shadow: rgba(0,0,0, 0.0980392) 0px 3px 12px 1px;
  margin-bottom:20px;
  font-family: "Open Sans Semibold", "Open Sans", Arial, sans-serif;
  font-size:11.5px;
}

.content {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  margin-left:25px;
}

.a-tag-more {
  margin-top:5px;
}

.img-wrap {
  height:100px;
  width:100px;
}

.sidebar-right {
  min-width:300px;
  max-width:300px;
}

.product-name {
  border-bottom: 1px solid #d1d1d1;
  height:70px;
  padding-left:15px;
  padding-right:15px;
}

.product-likes {
  border: 1px solid #d1d1d1;
  border-bottom:none;
  height:40px;
  width:50%;
  padding:7px;
  text-align:center;
  border-left:none;
}

.product-comments {
  border-top: 1px solid #d1d1d1;
  height:40px;
  width:50%;
  padding:7px;
  text-align:center;
  border-right:none;
}

.product-likes-and-comments {
  display:flex;
  flex-wrap:nowrap;
}

.product-sale-price {
  padding-left:15px;
  padding-right:15px;
  margin-top:10px;
  font-size:14px;
  font-weight:700;
  color:#60a430;
  height:30px;
  margin-bottom:10px;
}

.thumbs-up-and-down {
  display:flex;
}

.thumbs-up-wrap {
  width:50%;
  border-right:1px solid #d1d1d1;
}

.price-filter-wrap {
  display: flex;
  flex-wrap: nowrap;
  width:140px;
  margin-bottom:7px;
}

.number-low {
  width:50%;
  margin-right: 10px;
}

.price-dash {
  font-size: 20px;
}

.number-high {
  width:50%;
  margin-left:10px;
}

.price-go-btn {
  font-weight:700;
  font-size:11px;
}

.thumbs-down-wrap {
  width:50%;
}

.fa-thumbs-up:hover {
  color:blue;
}

.fa-thumbs-down:hover {
  color:red;
}

.filter-widget {
  margin-bottom:20px;
}

.filter-widget-title {
  color: #333;
  font-weight:700;
  font-family: arial, sans-serif;
  font-size:13px;
}

.radio-text {
  font-family: arial, sans-serif;
  font-size:13px;
  margin-left:5px;
  color:#666;
}
