.fa-shopping-cart {
  font-size: 3em;
  position: relative;
  top:2px;
  color:#000;
}

.shopping-cart-length {
  font-size:16px;
  color: #fff;
  position:absolute;
  top:7px;
  left:17px;
}

.cart-wrap {
  margin-right:10px;
}

.table-data {
  padding:5px;
}
