.fa-shopping-cart {
  font-size: 40px !important;
  position: relative;
  top:0px;
  color:#000;
}

.comment-container {
  max-width:644px;
  margin: 0 auto;
}

.comment-wrap {
  height:105px;
  border-bottom:1px solid #d9d9d9;
  display: flex;
  font-size: 14px;
  line-height: 1.2em;
  font-family: arial, sans-serif;
  padding:5px;
  padding-bottom:0px;
}

.comment-wrap:hover {
  background:#eff1f5;
}

.comment-middle {
  min-width: 79%;
  max-height:70px;
}

#comment-author-image {
  height: 50px !important;
  width: 50px !important;
  float: left;
  margin-right: 10px;
}

.discussion-notes-span {
  max-height:29px;
  overflow:hidden;
  margin-top:2px;
}

.author-span {
  font-size:14px;
  margin-bottom: -13px;
}

.comment-content {
  height:69px;
}


.comment-icons {
  height:31px;
  width:100%;
  padding:5px;

}
.comment-right {
  width:100%;
}
.jumbotron {
  padding: 0px;
}

.comment-price {
  color: green;
  font-weight:700;
  margin-right: 10px;
}

.comment-right-top {
  height:80px;
}

.comment-right-bottom {
  float:right;
  color: #999;
}
.cf:before, .cf:after{
    content:"";
    display:table;
}




.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}

 /* Form wrapper styling */
.search-wrapper {
width: 220px;
margin: 45px auto 50px auto;
box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
}

/* Form text input */

.search-wrapper input {
width: 138px;
height: 40px;
padding: 10px 5px;
float: left;
font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
border: 0;
background: #EEE;
border-radius: 3px 0 0 3px;
}

.search-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.search-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

.search-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.search-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

/* Form submit button */
.search-wrapper button {
overflow: visible;
position: relative;
float: right;
border: 0;
padding: 0;
cursor: pointer;
height: 40px;
width: 72px;
font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
color: white;
text-transform: uppercase;
background: #D83C3C;
border-radius: 0 3px 3px 0;
text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}

.search-wrapper button:hover{
    background: #e54040;
}

.search-wrapper button:active,
.search-wrapper button:focus{
    background: #c42f2f;
    outline: 0;
}

.search-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}

.search-wrapper button:hover:before{
    border-right-color: #e54040;
}

.search-wrapper button:focus:before,
.search-wrapper button:active:before{
        border-right-color: #c42f2f;
}

.search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}




.collapse navbar-collapse {
  height:60px !important;
}


.index-search-wrap {
  position:relative;
  top:-300px;
  background:#333;
  width:550px;
  margin:0 auto;
  height:150px;
  background: #000;
  opacity: .5;
}

#second-column-header {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hp-form {
  text-align:center;
  }
.home-search-btn:hover {
  background:#00AEEE;
  border:none;
  transition: .5s;
}

.h2-row-2 {
  margin: 0 auto;
}

.index-row {
  margin-left:25px;
  margin-right:25px;
}

.index-row-2 {
  text-align:center;
}

.above-search-bar-index, .above-search-bar-index-2 {
  margin-left:3px;
  font-family:'ProximaNovaLight', sans-serif;
  color: #40576F;
  font-size:18pt;
  font-weight:300;

}

.above-search-bar-index {
    float:left;
}
.home-search-btn {
  float:left;
  background:#00BAFF;
  padding: 6px 6px;
  width:150px;
  border: 1px solid #fff;
  border-radius:15px;
}

.hp-v5-form {
  border: 1px solid #E4E9F0;
  border-radius:10px;
  width:300px;
}

.index-search-bar {
  border-radius:10px;
}

.jumbotron {
  padding:0px !important;
  background: #F9F9F9;
  text-align: center;
  height:500px;
}

.product-search-wrap {
  align-items: center;


}

.navbar-container-fluid {
  height:50px !important;
}
.col-xs-12 {
  padding-left:0;
  padding-right:0;
}

.index-row-1 {
  margin:0px !important;
}

.fa-shopping-cart:hover {
  color:#444;
}

.shopping-cart-length {
  font-size:15px;
  color: #fff;
  position:absolute;
  top:10px;
  left:17px;
}
.cart-wrap {
  margin-right:10px;
  margin-top:5px;
}

.banner {
  height:45px;
  top:50%;
  position:relative;
  transform: translateY(-50%);
}

.search-input-wrap {
  margin-top: 6.25px;
}

.navbar-wrap {
  height:60px;
}

.navbar-nav {
  height:60px;
  margin-top:2.5px;
}

.navbar-default .navbar-nav {
  color: #788a91;
  font-family:"ProximaNova-Bold",Helvetica,Arial,sans-serif;
  font-weight:700;
  font-size:11px;
  letter-spacing: 1px;
}


.navbar-default {
  padding-left:25px;
  padding-right:25px;
  border-radius:0;
}

.navbar {
  background: #fff;
  height:60px;
  color:#788a91;
}

.sidebar-left {
  border:1px solid #d9d9d9;
  width:200px !important;
  height:1000px;
  min-width:200px;
  padding:15px;
  box-shadow: rgba(0,0,0, 0.0980392) 0px 3px 12px 1px;
}

.index-row-1 {
  margin:25px;
  margin-top:50px;
  text-align:center;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #337ab7;
}

.api-search-nav {
  background: #f6f8f7 url(//d36cmr08aasnby.cloudfront.net/assets/magnifying-glass-7801789c047a6aeb44fe2d1f4eef8865.png) 5% 50% no-repeat;
  border-radius:15px;
  padding-left: 40px;
  padding-right:40px;
  font-weight:400;
  font-size:12px !important;
}

.container-fluid {
  padding: 0;
}
.main {
  padding-left:25px;
  padding-right:25px;
  display: flex;
  flex-direction:row;
  flex-wrap:nowrap;
}

.sidebar-right {
  width:320px;
  height:500px;
  border: 1px solid #000;
}

.product-container {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  margin-left:25px;
}

.img-wrap {
  text-align:center;
  margin-bottom:10px;
}

.product-store {
  margin-bottom:5px;
  font-size:11px;
  color:#999;
  padding-left:15px;
  padding-right:15px;
}

.product-box {
  padding-top:10px;
  width:170px;
  margin-right:25px;
  height:300px;
  border: 1px solid #d1d1d1;
  box-shadow: rgba(0,0,0, 0.0980392) 0px 3px 12px 1px;
  margin-bottom:20px;
  font-family: "Open Sans Semibold", "Open Sans", Arial, sans-serif;
  font-size:11.5px;
}

.content {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  margin-left:25px;
}

.a-tag-more {
  margin-top:5px;
}

.img-wrap {
  height:100px;
  width:100px;
}

.sidebar-right {
  min-width:300px;
  max-width:300px;
}

.product-name {
  border-bottom: 1px solid #d1d1d1;
  height:70px;
  padding-left:15px;
  padding-right:15px;
}

.product-likes {
  border: 1px solid #d1d1d1;
  border-bottom:none;
  height:40px;
  width:50%;
  padding:7px;
  text-align:center;
  border-left:none;
}

.product-comments {
  border-top: 1px solid #d1d1d1;
  height:40px;
  width:50%;
  padding:7px;
  text-align:center;
  border-right:none;
}

.product-likes-and-comments {
  display:flex;
  flex-wrap:nowrap;
}

.product-sale-price {
  padding-left:15px;
  padding-right:15px;
  margin-top:10px;
  font-size:14px;
  font-weight:700;
  color:#60a430;
  height:30px;
  margin-bottom:10px;
}

.thumbs-up-and-down {
  display:flex;
}

.thumbs-up-wrap {
  width:50%;
  border-right:1px solid #d1d1d1;
}

.price-filter-wrap {
  display: flex;
  flex-wrap: nowrap;
  width:140px;
  margin-bottom:7px;
}

.number-low {
  width:50%;
  margin-right: 10px;
}

.price-dash {
  font-size: 20px;
}

.number-high {
  width:50%;
  margin-left:10px;
}

.price-go-btn {
  font-weight:700;
  font-size:11px;
}

.thumbs-down-wrap {
  width:50%;
}

.fa-cart-plus:hover {
  color:blue;
}

.fa-thumbs-up:hover {
  color:blue;
}

.fa-thumbs-down:hover {
  color:red;
}

.filter-widget {
  margin-bottom:20px;
}

.fa-comment:hover {
  color:#00FF00;
}
.filter-widget-title {
  color: #333;
  font-weight:700;
  font-family: arial, sans-serif;
  font-size:13px;
}

.radio-text {
  font-family: arial, sans-serif;
  font-size:13px;
  margin-left:5px;
  color:#666;
}

.discussion {
  border: 1px solid black;
}

.authorImage {
  height: 50px;
  width: 50px;
  border-radius: 80%;
}

.selectpicker {
   width: 240px;
   height: 34px;
   overflow: hidden;
   background: url('http://bavotasan.com/wp-content/uploads/2011/05/down_arrow_select.jpg') no-repeat right #ddd;
   border: 1px solid #ccc;
   }

  .well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    text-align: center;
}

.money {
  color: green;
}
.category {
  font-style: oblique;
}

#content {
  height:100px;
  width: 100%;
}

.inline {
  display: inline-flex;
  font-size: 30px;
  padding-left: 35%;
  color: grey;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

}

.left {
  float:left;
}

.fullComment {
  padding-bottom: 10px;
}

.margin {
  margin-bottom: 30px;
}
