Index Template

<div class="page-header">
  {{product-search productLookup="productLookup"}}
</div>
<hr />
<h2>Join A Product Discussion!</h2>
<ul>
{{#each model as |discussion|}}
<div class = "discussion">
<li>{{#link-to 'product' discussion}}{{discussion.product}}{{/link-to}}</li>
</div>
{{/each}}
</ul>
