


    <div class="container-fluid">
      <div class="index-search jumbotron">
        <div class="index-search-wrap">
        </div>
        <div class="product-search-wrap">
          {{product-search productLookup="productLookup"}}
        </div>
      </div>
    </div>




<hr/>
<h2>Join A Product Discussion!</h2>
<ul>
{{#each model as |discussion|}}
<div class = "discussion">
<li>{{#link-to 'discuss' discussion}}{{discussion.product}}{{/link-to}}</li>
</div>
{{/each}}
</ul>
