
    <div class="container-fluid">
      <div class="index-search jumbotron">
        <div class="row" style="height:500px;">
          <div class="col-sm-6">
            <!-- <img src="http://thumbs.dreamstime.com/z/spotted-monster-carrying-shopping-bags-cute-charming-cartoon-purple-big-spots-white-background-35193608.jpg" height='300' width='400' style=""> -->
          </div>
          <div class="col-sm-6 col-sm-offset-6" id="second-column-header" style="float:right;">
              <div class="above-search-bar-index">
                Shop smart - Not hard.
              </div>
              <br>
              <br>
                {{product-search productLookup="productLookup"}}
          </div>
        </div>


      </div>
    </div>




<hr/>
<div class="container" style="">
  <div class="row" style="">
    <div class="col-sm-12" style="">


      <div class="above-search-bar-index-2 h2-row-2">Product discussions!</div>
      <br>
      <br>
      <br>
{{sorted-discussions model=model}}
    </div>
  </div>
</div>
