<div class="container-fluid sign-in-container">
  <h1>Sign Up</h1>
  <br>
  <div class="sign-in-up-form">
    {{input
        type='text'
        class='form-control sign-in-form-1'
        value=email
        placeholder='email'
    }}
    <br>
    {{input
        type='password'
        class='form-control sign-in-form-2'
        value=password
        placeholder='password'
    }}
    <br>
    <button class='home-search-btn' style="float:none;color:#fff;" {{action 'signUp'}}>
        {{fa-icon 'user-plus'}} Sign Up
    </button>
    <br>
    <br>
    <p>Already have an account? Go ahead and {{#link-to 'sign-in'}}sign-in{{/link-to}}.</p>
  </div>
</div>
